<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- GitHub Login Button -->
<a href="{% url 'social:begin' 'github' %}">
    <button>Log in with GitHub</button>
</a>
</body>
</html>